MINIO_ACCESS_KEY=12345
MINIO_SECRET_KEY=12345678
# Use TRAEFIK_TIML_FILE without quotes!
TRAEFIK_TOML_FILE=./traefik.template.toml
MINIO_DATA_DIR=/data/s3data
MINIO_URL_CONFIG=HostRegexp(`s3-minio-test.naturalis.nl`, `{subdomain:[a-z]+}.s3-minio-test.naturalis.nl`)
MINIO_URL_DOMAIN=s3-minio-test.naturalis.nl

